html{
    margin: 0;
    padding: 0;
    height: auto;
}
body{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* This begins nav header for screens wider than tablets*/

#nav-header{
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -.05em;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    height: 4em;
    background-color: #b60002;
    border: 1px solid black;
}

#nav-header h1{
    margin: auto 0;
}

#nav-header > h1 > a{
    font-size: .9em;
    margin: 0 0 0 1em;
    color: white;
}

#close-burger-menu{
    display: none;
}


#nav-links{
    display: flex;
    justify-content: space-between;
    margin: auto 1em auto 0;
    background-color: #b60002 !important;
}

#nav-links a{
    margin: auto 1.5em;
    padding: 0;
    font-size: 1em;
    color: white !important;
}

#nav-links a:hover{
    border-bottom: .1em solid black;
}

#current-page{
    font-weight: bolder;
    font-size: 1.2em !important;
}

#menu-burger{
    display: none;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4.12em;
    margin: 0;
    padding: 0;
    background-color: white;
}

.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 1em auto 1em auto;
    padding: 0;
    font-size: 1em;
}

.contact-icons a *{
    font-size: 2em;
}

main{
    margin: 0;
    padding: 0;
}
/*Template ends here. Footer is included as part of the template*/



/* Page unique style begins here*/
#skills-section{
    display: block;
    flex-direction: column;
    width: 94%;
    position: absolute;
    top: 28%;
    left: 03%;
}

.hide-skill-section{
    display: none !important;
}

#skills-section *{
    text-align: center;
}

#skills-section p{
    width: 60%;
    margin: 0 auto;
    font-size: 1.22em;
    cursor: pointer;
}

#skills-section p:nth-child(2){
    margin: 4em auto !important;
}

#frontend-skills{
    display: none;
    padding: 2em 0;
    flex-direction: column;
    width: 78%;
    position: absolute;
    top: 23%;
    left: 11%;
}

#frontend-skills *{
    text-align: center;
}

#frontend-skills p{
    margin: .9em auto;
    width: 70%;
    font-size: 1.22em;
    padding: 0 .5em;
    cursor: pointer;
    color: #b60002;
}

#frontend-skills p:nth-child(1){
    margin-top: 0 !important;
}

.close-skills{
    position: absolute;
    font-size: 2em;
    top: -.05em;
    left: 0;
    padding: 0;
    width: .5em;
    height: .5em;
    cursor: pointer;
}

.show-skill{
    display: block !important;
}

.close-skills *{
    padding: 0;
    margin: 0;
}

#backend-skills{
    display: none;
    padding: 2em 0;
    flex-direction: column;
    width: 78%;
    position: absolute;
    top: 23%;
    left: 11%;
}

#backend-skills *{
    text-align: center;
}

#backend-skills p{
    width: 70%;
    margin: 1em auto;
    font-size: 1.22em;
    cursor: pointer;
    color: #b60002;
}


#backend-skills p:nth-child(1){
    margin-top: 0 !important;
}

#development-tools{
    display: none;
    padding: 2em 0;
    flex-direction: column;
    width: 78%;
    position: absolute;
    top: 23%;
    left: 11%;
}

#development-tools *{
    text-align: center;
}

#development-tools p{
    width: 70%;
    margin: 1em auto;
    font-size: 1.22em;
    cursor: pointer;
    color: #b60002;
}


#development-tools p:nth-child(1){
    margin-top: 0 !important;
}

#development-tools p:last-child{
    margin-bottom: 4em !important;
}

.contact-icons a:nth-child(1){
    color: black !important;
}

.contact-icons a:nth-child(2){
    color: #2867B2 !important;
}
.contact-icons a:nth-child(3){
    color: rgb(26, 175, 138) !important;
}


/*This begins mobile view */
@media screen and (max-width: 770px){
    body{
        font-size: 16px;
    }

    /*This begins the mobile nav header for tablets and mobile phones*/
    #menu-burger{
        display: block;
        position: relative;
        top: 1em;
        right: 1em;
        z-index: 3;
    }

    .hide-menu-burger{
        display: none !important;
    }

    #close-burger-menu{
        display: none;
        position: relative;
        top: .5em;
        right: .5em;
        z-index: 3;
        font-size: 2em;
        padding: 0;
    }

    .show-close-menu{
        display: block !important;
    }

    #menu-burger div{
        background-color: white;
        margin: .2em 0;
        width: 1.5em;
        height: .2em;
    }
    header{
        justify-content: space-between;
        height: 3.5em;
    }

    header > h1{
        margin: auto 0;
    }

    header > h1 > a{
        margin-left: 1em;
    }

    #nav-links{
        display: none;
        position: absolute;
        z-index: 2;
        top: .04em;
        left: 0;
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .display-links{
        display: flex !important;
        animation-name: navlinks !important;
        animation-duration: 1.2s !important;
    }

    @keyframes navlinks{
        from{
            transform: translateX(100%);
        }
        to{
            transform: translateX(0);
        }
    }

    .display-links{
        display: flex !important;
    }

    #nav-links a{
        margin: auto;
        font-size: 1.12em;
        color: black;
    }


}